table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.c-form-text {
    height: 2.4em;
    width: 200%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.c-form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.2em;
    border: none;
    background: #3879D9;
    border: 1px solid #3879D9;
    border-radius: 3px;
    color: #fff;
    outline : none;
    width: 3.5em;
    height: 1.9em;
    display: inline-block;
    vertical-align: middle;
}

.input-group {
    align-content: center;
}  

header {
    background-color: #333; /* ヘッダーの背景色を設定 */
    color: #fff; /* テキストの色を設定 */
    padding: 10px; /* ヘッダーの余白を設定 */
    height: 10%;
}

/* Flexコンテナを作成して子要素を横に並べる */
.index-container {
    display: flex;
    align-items: center; /* 垂直方向に中央寄せ */
}

.index-container img{
    width: 50%;
    height: auto;
    margin-right: 0px;
}

.header-container {
    display: flex;
    align-items: center; /* 垂直方向に中央寄せ */
}

.header-container img{
    width: 35%;
    height: auto;
}

.logo {
    float: left; /* ロゴを左寄せにする */
}

.logo img {
    height: 50px; /* ロゴの高さを設定 */
}

.main_table {
    margin-bottom: 30px;
}