<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>情報工学先生</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <form class="form-inline" method="post">
            <div class="form-group">
                <label class="sr-only" for="screen_name"></label>
                <div class="input-group mb-3">
                   <input id="keyword" name="keyword" placeholder="キーワードを入力してください。" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">取得する</button>
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th colspan="5">情報工学分野の研究者が読むべき論文一覧</th>
                </tr>
                <tr>
                    {% for key in keys %}
                    <th colspan="1">{{key}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for paper in papers %}
                <tr>
                    <td id="title">{{ paper.title }}</td>
                    <td id="author">{{ paper.author }}</td>
                    <td id="abstract">{{ paper.abst }}</td>
                    <td id="year">{{ paper.year }}</td>
                    <td id="journal">{{ paper.conference }}</th>
                    <td id="quote_count">{{ paper.quote_count }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>