<!DOCTYPE html>
<html lang="ja">
    <link rel="stylesheet" href="/static/css/style.css">
    <head>
        <title>情報工学先生</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <form class="form-inline" method="post">
            <div class="form-group">
                <label class="sr-only" for="screen_name"></label>
                <div class="input-group mb-3">
                   <input id="keyword" name="keyword" placeholder="キーワードを入力してください。" type="text" class="form-control">
                   <button type="submit" class="btn btn-primary">取得する</button>
                </div>
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th colspan="{{ n }}">キーワードに基づいたおすすめの論文一覧</th>
                </tr>
                <tr>
                    {% for key in keys %}
                    <th colspan="1">{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for paper in papers %}
                <tr>
                    {% for k, v in paper.items() %}
                    <td id="{{ k }}">{{ v }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>