<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ja">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <head>
        <title>情報工学先生</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="{{ 4 }}">おすすめの論文一覧</th>
                </tr>
                <tr>
                    <th colspan="1">title</th>
                    <th colspan="1">tldr</th>
                    <th colspan="1">year</th>
                    <th colspan="1">citationCount</th>
                </tr>
            </thead>
            <tbody>
                {% for paper in papers %}
                <tr>
                    <td>
                        <a href='{{ url_for("papers", paperId=paper["paperId"]) }}'>{{ paper["title"] }}</a>
                    </td>
                    <td>
                        {{ paper["tldr"] }}
                    </td>
                    <td>
                        {{ paper["year"] }}
                    </td>
                    <td>
                        {{ paper["citationCount"] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>